/** HEADER **/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#nav-list section{
  background-color: white;
  border: 1px black solid;
  text-align: center;
  font-size: 20px;
}

#main-content h2{
  margin-top: 0px;
}
