/** HEADER **/
#header-nav {
  background-color: azure;
  border-radius: 0;
  border: 0;
  position: relative;
}

#icon-bar{
  background-color: tomato;
}
.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  position: absolute;
  left:14px;
}

#nav-list section{
  font-family: 'Lora', serif;
  border: 1px black solid;
  font-size: 20px;
  background-color: bisque;
}

#main-content h2{
  font-family: 'Lora', serif;
  margin-top: 0px;
}

.row{
  background-color: gainsboro;
  margin: 10px;
  height: 1000px;
}

section h3{
  font-family: 'Lora', serif;
  text-align: center;
}